.body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 70px;

}

.conatainer {
    flex: 1;
}



.navbar {
    height: 70px;

    background-color: white;

}

.navbar-brand i {
    color: #ff385c;
    margin-right: 6px;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.footer {
    background-color: #f8f9fa;
    padding: 1.5rem 0;

    border-top: 1px solid #e5e7eb;
}

.f-info-links {
    width: 100%;
}

.f-info-social {
    width: 100%;

    font-size: 1.2rem;
}

.f-info-social i {
    margin-right: 15px;
    /* space between icons */
    font-size: 1.5rem;
    /* optional: bigger icons */
    cursor: pointer;


}

.navbar-collapse {
    margin-top: 10px;
}


.f-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
    max-width: 1100px;
    margin: auto;
    padding: 0 1rem;
    gap: 1rem;
    height: 2rem;

}

.f-info-social a {
    margin-right: 0.75rem;
    font-size: 1.4rem;
    color: #555;
    transition: color 0.3s ease, transform 0.3s ease;
}

.f-info-social a:hover {
    color: #ff385c;
    transform: translateY(-3px);
}

.f-info-company {
    font-size: 0.9rem;
    color: #666;
}

.f-info-links a {
    text-decoration: none;
    color: #555;
    font-size: 0.9rem;
    margin: 0 0.3rem;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: #2563eb;
}

.navbar-collapse {
    margin-top: 10px;
}

/* card */
.card {
    border: none !important;
    margin-bottom: 3rem;
    overflow: visible;


}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;

}

.card-body {
    padding: 0 !important;

}

.card-text {
    margin-top: 1rem;
    font-weight: 400px !important;
}

.listing {
    text-decoration: none;
}

/* card effect */
.card-img-overlay {
    opacity: 0;

}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.reBut {
    background-color: #ff385c !important;
    border: none !important;

}

/* Edit page */
.edit-btn {
    background-color: #ff385c !important;
    border: none !important;
}

/* show page
 */
.show-img {
    height: 30vh;
    width: 100%;
}

.btns {
    display: flex;

}

.show-card {
    padding-left: 0;
    padding-right: 0;
    width: 10vh;

}

.body-card {
    padding: 0 !important;
}